.portfolio{
    background-color: #E5E1D6;

    .title{
        margin-left: 50px;
        font-size: 2rem;
        font-weight: 700;
    }

    .pika{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}